
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" style="background-image: url('assets/images/banner_login.jpg');"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            
            <div class="col-md-9 col-lg-8 mx-auto">
              <button (click)="gotoHome()" class="btn btn-return-home">
                <i class="bi bi-arrow-left-circle-fill"></i>
                Home
              </button>
              <p class="mb-2">Bienvenido</p>
              <h3 class="mb-4">Inicia sesión</h3>

              <!-- Sign In Form -->
              <form [formGroup]="formLogin" (ngSubmit)="login()">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" formControlName="username" id="floatingInput" autocomplete="off" required>
                  <label for="floatingInput">Correo electrónico</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" formControlName="password" id="floatingPassword" autocomplete="off" required>
                  <label for="floatingPassword">Contraseña</label>
                  <div class="text-end">
                    <a class="small" href="#">¿Olvidaste tu contraseña?</a>
                  </div>
                </div>

                <div class="form-check mb-5">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Recordar correo
                  </label>
                </div>

                <div class="d-grid mb-3">
                  <button class="btn btn-primary btn-login mb-2" type="submit">Ingresar</button>
                </div>
                <div class="d-grid">
                  <a class="btn btn-dark btn-sign-google" href="#" role="button">
                    <img width="20px" alt="Google sign-in" src="assets/images/logo_google.png" />
                    Ingresar con Google
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
