.dialog-content {
  padding: 1.5rem;
}

.dialog-header {
  display: flex;
  justify-content: end;
  padding-bottom: 1.5rem;

  & img {
    cursor: pointer;
  }
}

.dialog-body {
  padding: 1.5rem;

  & textarea {
    height: auto !important;
  }
}