<div class="dialog-content">
  <div class="dialog-header">
    <img src="assets/images/icon_close.svg" alt="cerrar" (click)="close()">
  </div>

  <!-- {{data | json}} -->
  <div class="dialog-body">
    <h4>{{formPost.value['id'] != '' ? 'Editar post' : 'Crear post' }}</h4>
    <form [formGroup]="formPost" (ngSubmit)="addOrUpdatePost()">
      <input type="hidden" formControlName="id">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" formControlName="title" id="titleInput" autocomplete="off" required>
        <label for="titleInput">Título</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" formControlName="description" id="decsInput" autocomplete="off" rows="3" [maxlength]="200" required></textarea>
        <label for="decsInput">Descripción</label>
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-primary btn-login mb-2" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>