<footer class="footer">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets/images/icon_logo.svg" class="pb-3" alt="logo">
        <div class="d-flex py-1 gap-2">
          <div class="link">Download Now</div>
          <div class="link">Licence</div>
        </div>
        <div class="links d-flex gap-2">
          <div class="link">About</div>
          <div class="link">Features</div>
          <div class="link">Pricing</div>
          <div class="link">News</div>
          <div class="link">Help</div>
          <div class="link">Contact</div>
        </div>
        <p class="copy py-3">© 2021 Landify UI Kit. All rights reserved</p>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 d-none d-xl-block">
        <img src="assets/images/icon_logo.svg" class="pb-3" alt="logo">
        <div class="d-flex py-1 gap-3">
          <div class="link">Contáctanos</div>
        </div>
        <div class="links d-flex gap-2">
          <div class="link">Whatsapps</div>
          <div class="link">978 566 567</div>
          <div class="link">967 567 565</div>
        </div>
        <p class="copy py-3">© 2021 Landify UI Kit. All rights reserved</p>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="d-flex py-1 gap-3">
          <div class="link">Get the App</div>
        </div>
        <div class="logos d-flex flex-column gap-3">
          <img src="assets/images/logo_app_store.svg" alt="logo Apple">
          <img src="assets/images/logo_play_store.svg" alt="logo Google">
        </div>
      </div>
    </div>
  </div>
</footer>