<section class="main-section" style="background-image: url('assets/images/bg_home.png');">
  <div class="container d-flex flex-column flex-md-row">
    <div class="promo py-4">
      <h1 class="fw-bolder">
        The easiest way to manage projects
      </h1>
      <p class="my-4">From the small stuff to the big picture, organizes the work so teams know what to do, why it
        matters, and how to get it done.</p>
      <div>
        <button type="button" class="btn btn-primary me-4">Get Started</button>
        <button type="button" class="btn btn-outline-primary">
          <i class="bi bi-play-circle"></i>
          Watch Video</button>
      </div>
    </div>
    <div class="phone py-4">
      <img src="assets/images/phone.png" height="640" alt="phone">
    </div>
  </div>
</section>