@import "src/variables";
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}


.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.user-info {
  display: block;
  & .welcome {
    font-size: 0.9rem;
    color: $blue-opaque;
  }
  & .username {
    font-weight: 600;
    color: $color-primario;
  }
}